@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
body{margin: 0}
header{position: absolute}
.main{max-width: 1100px; margin: auto}

.container_form_style{margin-right: 10px}
.form_style{
            font-size: 15px;
            line-height: 19px; color: #FFFFFF; max-width: 193px}
.h1{
            font-size: 55px;
            line-height: 100%; margin-bottom: 30px; color: #181818}
.develop_in_time{
            font-size: 34px;
            line-height: 110%; margin-bottom: 65px}
.first_section{
            background-image: url('../image/011.png');
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 269px;
            padding-bottom: 309px;
            height: 100vh;
            width: 100%}
.portfolio{
            background: #FFFFFF;
            border-radius: 40px; padding: 23px 47px; font-size: 18px;
            line-height: 140%;color: #181818; margin-right: 20px}
.submit_application{background: #FFFFFF;
    border-radius: 40px; padding: 23px 47px; font-size: 18px;
    line-height: 140%;color: #181818}
.f{
    border: 1px solid #FFFFFF;
    margin-right: 23px;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    width: 30px; height: 30px;
    line-height: 30px;
    text-align: center}
.tel{color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 27px; margin-right: 23px;
    display: inline-block;
    text-decoration: none}
.m-w{max-width: 1162px; margin: auto}
.d-flex{display: flex;

}
.d-flex-right, .d-flex-left{display: flex;
    align-items: center;}
.d-flex-right{justify-content: flex-end}

.What-corporate-identity{
    color: #181818;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 110%;
    margin-left: 285px;
    margin-top: 80px;
    margin-bottom: 15px;
}
.different{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #181818}
.name_logo{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-left: 285px;
    margin-bottom: 40px}
.form style{font-size: 18px;
    line-height: 140%;
    color: #181818}
.how-much{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 110%;
   }
div p span{
    font-family:'20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;}
div p{margin-bottom: 120px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%; text-align: left}
.every-customer{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;;
    }
.every-task{
    margin-right: 30px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%; color: #181818}
.amperia{margin-top: 120px}
.amperia_h3{font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 100%;
    color: #181818; margin-right: 100px; margin-top: 41px; display: inline-block}
.see_projekt{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: black; border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 23px 47px;
    display: inline-block; margin-top: 35px;
    text-decoration: none;}
.amperia_div{display: flex; justify-content: left}
.brend{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 50px
    }
.section_amperia{
    max-width: 1110px; margin: auto}
.amperia2_h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;
    margin-right:100px;
    margin-top: 41px}
.show_more{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
    background: #2B59C3;
    border-radius: 40px;
    padding: 23px 47px;
    text-decoration: none;
    margin-bottom: 120px;

}
.container_show_more{display: flex; justify-content: center; margin-top: 20px}
.Gaidline{font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 110%;
    margin-bottom: 19px}
.d-flex{display: flex}
.gaidline_for_what{font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
    background: #2B59C3;
    border-radius: 5px;
    padding: 14px 5px 13px 12px; margin-bottom: 16px }
.gaidline_pic{display: block; width: 100%; margin-right: 30px}
.gaidline_rules{font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #181818; margin-bottom: 87px}
.container_form{max-width: 1110px; margin: auto}
form h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 110%;
    margin-bottom: 10px;
    }
.main_container_input{
    display: flex;
    justify-content: space-between}
.our_expert{font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 24px;
   }
.span_checkbox{font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%; color: #181818}
.submit_button{background: #2B59C3;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    border: none;
    padding: 19px 47px}
.text_checkbox{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;color: #2B59C3; margin-bottom: 30px}
.border_name{
    margin-bottom: 22px;
    border: 1px solid #181818;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 21px;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 450px;
    width: 100%;
    display: inline-block}
.border_tel{
    border: 1px solid #181818;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 21px;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 450px;
    width: 100%;
    display: inline-block}
.w-50{width: 50%}
.stages_creation{max-width: 1110px; margin: auto}
.stages_creation_h2{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%;
    margin-top: 150px;
    margin-bottom: 83px;
}
.flex_section1{display: flex; flex-direction: column; justify-content: left}
.flex_block{width: 180px }
.flex_section2{max-width: 560px; display: flex; justify-content: space-between; flex-wrap: wrap}
.main_flex_section{display: flex}
.flex_block1{width: 283px; padding-bottom: 100px}
.flex_h3{font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 15px}
.flex_p{font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;}
.flex_p1{font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110%}

.pic_flex{padding-bottom: 22px;

}
.quality{background-image: url('../image/Rectangle32.jpg')}
.quality_div{max-width: 1110px; margin: auto; padding-top: 282px}
.quality_h2{font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%; color: #FFFFFF

}
.flex_quality{display: flex; justify-content: right}
.number{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 100%; color: #FFFFFF; margin-right: 8px; margin-top: 40px}
.number_P{font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px; color: #FFFFFF; margin-top: 65px;}
.margin_r{margin-right: 28px}
